body{
    background-color: yellow;
}

.gameLevel{
    visibility: hidden;
}

header{
    display: flex;
    flex-direction: column;
    background-color: white;
    align-items: center;
    width: 100%;
}

.characterSelect{
    display: grid;
    grid-template-columns: 2fr 2fr;
    gr
}

.character{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 40px;
}

.characterImage{
    width: 50%;
    margin-bottom: 20px;
}

#aangImage{
    background-color: white;
}

#tophImage{
    background-color: green;
    width: 30%;
    height: auto;
}

#zukoImage{
    background-color: red;
}

#kataraImage{
    background-color: lightblue
}

.player1GUI{
    display: flex;
    flex-direction: column;
    align-items: left;
}

.health{
    display: flex;
    flex-direction: row;
    justify-content: left;
    /* margin-bottom: 2rem; */
}

.healthBar{
    display: flex;
    justify-content: left;
    position: relative;
    width: 20rem;
    height: 2rem;
    border: solid 2px;
    border-color: black;
    background-color: green;
    /* margin-top: 2rem; */
    overflow: hidden;
    
}

.healthBarEmpty{
    height: 100%;
    background-color: green;
    width: 0%;
}

.attacks{
    display: flex;
    flex-direction: column;
    align-items: left;
    width: 160px;
    padding-top: 10px;
}

#attack{
    margin-top: 10px;
}

#player1Image{
    margin-top: 200px;
    width: 300px;
}

.startUp{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.battle{
    display: flex;
    flex-direction: column;
    visibility: hidden;
    align-content: left;
}

.cloneBattle{
    display: flex;
    flex-direction: column;
    visibility: hidden;
    align-content: right;
}
